{% extends 'base.html' %} {% block title %}List Of Employee{% endblock %} {%
block content %}
<div class="container d-flex flex-column">
  <!-- Alert -->
  {% with messages = get_flashed_messages(with_categories=True) %} {% if
  messages %} {% for message in messages %}
  <div class="alert alert-{{message[0]}} alert-dismissible fade show mt-3" role="alert" id="alert">
    <i class="bi bi-check-circle-fill">  
        {{message[1]}}
     </i> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <!-- Add new button -->
  <div class="d-flex justify-content-end mb-3 mt-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#addNewEmployee"
    >
      Create New Employee
    </button>
  </div>
  <!-- Add New Employee Form -->
  <div
    class="modal fade"
    id="addNewEmployee"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Add New</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="{{ url_for('create') }}" method="post">
          <div class="modal-body">
            <div class="mb-3">
              {{ form.name.label(class='form-label') }} {{
              form.name(class='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.dob.label(class='form-label') }} {{
              form.dob(class='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.email.label(class='form-label') }} {{
              form.email(class='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.phone_number.label(class='form-label') }} {{
              form.phone_number(class='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.department.label(class='form-label') }} {{
              form.department(class='form-control') }}
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            {{ form.submit(class='btn btn-success') }}
          </div>
        </form>
      </div>
    </div>
  </div>
  <table class="table table-responsive table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">EIN</th>
        <th scope="col">Full Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Department</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody class="">
      {% for emp in employees %}
      <tr class="">
        <th scope="row" class="align-middle text-center">{{ loop.index }}</th>
        <td class="align-middle text-center">{{ emp.employee_id }}</td>
        <td class="align-middle text-center">{{ emp.name }}</td>
        <td class="align-middle text-center">{{ emp.dob }}</td>
        <td class="align-middle text-center">{{ emp.email }}</td>
        <td class="align-middle text-center">{{ emp.phone_number }}</td>
        <td class="align-middle text-center">{{ emp.department }}</td>
        <td class="align-middle text-center">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#updateEmployee{{ loop.index }}"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#confirmModal{{ loop.index }}"
          >
            Delete
          </button>
        </td>
        <!-- Update Employee Form -->
        <div
          class="modal fade"
          id="updateEmployee{{ loop.index }}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Employee Update {{ emp.employee_id }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form
                action="{{ url_for('update', id=emp.employee_id) }}"
                method="post"
              >
                <div class="modal-body">
                  <input
                    type="hidden"
                    name="employee_id"
                    id="employeeIdInput"
                  />
                  <div class="mb-3">
                    {{ form.name.label(class='form-label') }} {{
                    form.name(value=emp.name,class='form-control') }}
                  </div>
                  <div class="mb-3">
                    {{ form.dob.label(class='form-label') }} {{
                    form.dob(value=emp.dob,class='form-control') }}
                  </div>
                  <div class="mb-3">
                    {{ form.email.label(class='form-label') }} {{
                    form.email(value=emp.email,class='form-control') }}
                  </div>
                  <div class="mb-3">
                    {{ form.phone_number.label(class='form-label') }} {{
                    form.phone_number(value=emp.phone_number,class='form-control')
                    }}
                  </div>
                  <div class="mb-3">
                    {{ form.department.label(class='form-label') }} {{
                    form.department(value=emp.department,class='form-control')
                    }}
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  {{ form.submit(class='btn btn-success') }}
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Delete Confirm Modal -->
        <div
          class="modal fade"
          id="confirmModal{{ loop.index }}"
          tabindex="-1"
          aria-labelledby="confirmModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">
                  Please confirm ?
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Do you want to delete employee #{{ emp.employee_id }}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <a
                  href="{{ url_for('delete', id=emp.employee_id) }}"
                  class="btn btn-danger"
                  id="del-button"
                  >Yes, Delete</a
                >
              </div>
            </div>
          </div>
        </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- <script src="{{url_for('static', filename='js/script.js')}}"></scrip> -->
{% endblock %}
