{% extends 'base.html' %} {% block title %}List Of Employee{% endblock %} {%
block content %}
<div class="container d-flex flex-column">
  <!-- Add new button -->
  <div class="d-flex justify-content-end mb-3 mt-3">
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add new employee
    </button>
  </div>
  <!-- Add new modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add employee</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Modal form -->
          <form action="" method="post">
            <div class="mb-3">
              <label for="employee-name" class="col-form-label"
                >Full name:</label
              >
              <input
                type="text"
                class="form-control"
                id="employee-name"
                name="emp-name"
              />
            </div>
            <div class="mb-3">
              <label for="employee-birthdate" class="col-form-label"
                >Birthdate:</label
              >
              <input
                type="date"
                class="form-control"
                id="employee-birthdate"
                name="emp-dob"
              />
            </div>

            <div class="mb-3">
              <label for="employee-email" class="col-form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="employee-email"
                name="emp-email"
              />
            </div>
            <div class="mb-3">
                <label for="employee-phonenumber" class="col-form-label">Phone number:</label>
                <input
                  type="number"
                  min="0" oninput="this.value = Math.abs(this.value)"
                  class="form-control"
                  id="employee-phonenumber"
                  name="emp-phone"
                />
              </div>
              <div class="mb-3">
                <label for="employee-department" class="col-form-label">Department:</label>
                <input
                  type="text"
                  class="form-control"
                  id="employee-department"
                  name="emp-dep"
                />
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary submit" name="btn-submit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-responsive table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">EIN</th>
        <th scope="col">Full Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Department</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody class="">
      {% for emp in employees %}
      <tr class="">
        <th scope="row" class="align-middle">{{loop.index}}</th>
        <td class="align-middle">{{ emp.employee_id }}</td>
        <td class="align-middle">{{ emp.name }}</td>
        <td class="align-middle">{{ emp.dob }}</td>
        <td class="align-middle">{{ emp.email }}</td>
        <td class="align-middle">{{ emp.phone_number }}</td>
        <td class="align-middle">{{ emp.department }}</td>
        <td class="align-middle">
          <div class="btn btn-primary m-1">Update</div>
          <div class="btn btn-danger btn m-1">Delete</div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
